.component-list {
	font-size: 18px;
}

.right-span {
	float: right;
	width: 100px;
}

.middle-span {
	float: right;
	padding-right: 12px;
}

.inventory-button {
	height: 45px;
	width: 90px;
	background: #30BA42;
	display: inline-block;
	border-radius: 5px;
	line-height: 45px;
	text-align: center;
	margin-top: 12px;
}