/* You can add global styles to this file, and also import other style files */
body {
	background: url('./app/images/background.jpg') no-repeat fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item-list {
	width: 500px;
	position: absolute;
	left: 8%;
	top: 50px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 5px;
	padding: 12px;
	font-family: 'Trebuchet MS';
	font-size: 16px;
	cursor: pointer;
}